header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

h1.name {
    font-size: 4rem;
}
p.title {
    font-size: 2rem;
}

#landing-view {
    background-attachment: fixed;
    background-image: url('../images/developer-image.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    z-index: 1;
}

#about {
    background-image: url('../images/me_new.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
}

#portfolio {
    background-attachment: fixed;
    background-image: url('../images/wireframe_sketches.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    z-index: 1;
}

#skills {
    background-image: url('../images/web_design_laptop.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
}

#contact {
    background-attachment: fixed;
    background-image: url('../images/wooden_desktop.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    z-index: 1;
}